<div class="">
 
    <div
    style="font-size: 50px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
    Knowing Yourself Quiz - Spotify
    </div>
    <div class="">
        <form action="/verify" method = "POST">

                <h3>Name:
                    <input name="name">
                </h3>
                <h3>Age:
                    <input name="age">
                </h3>
                <h3>Occupation:
                    <input name="occupation">
                </h3>
                <h3>Why do you use Spotify?
                    <input name="reason_use">
                </h3>
            <div class="">
                    <button type="submit" class="btn btn-danger spotify_button" id=""><h4><i class="fab fa-spotify"></i>Start Quiz</h4></button>
            </div>

        </form>

</div>

</div>